/* Selectron example HTML: 

	<div class="selectron" data-select="account">
		<div class="selectron__selected"><div class="selectron__selected__inner">Mutual Funds</div><span class="selectron__selected__indicator"></span></div>
		<div class="selectron__listWrapper">
			<ul class="selectron__list">
				<li class="selectron__li" data-index="0"><span class="selectron__li__inner">Select Account</span></li>
				<li class="selectron__li" data-index="1"><span class="selectron__li__inner">Anuity</span></li>
				<li class="selectron__li" data-index="2"><span class="selectron__li__inner">Banking</span></li>
				<li class="selectron__li" data-index="3"><span class="selectron__li__inner">Insurance</span></li>
				<li class="selectron__li" data-index="4"><span class="selectron__li__inner">Life Insurance</span></li>
				<li class="selectron__li" data-index="5"><span class="selectron__li__inner">Mortgage</span></li>
				<li class="selectron__li selectron__li--selected" data-index="6"><span class="selectron__li__inner">Mutual Funds</span></li>
				<li class="selectron__li" data-index="7"><span class="selectron__li__inner">Retirement Plans</span></li>
			</ul>
		</div>
	</div>

/*!****************************/
/* Selectron Functional Styles - modify at your own risk */
/*****************************/
.selectron,
.selectron * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.selectron {
  display: inline-block;
  vertical-align: middle;
}
.selectron__selected {
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
/* offset top and bottom margin by total top & bottom border to fix inline text alignment */
  margin: -2px 0 2px;
}
.selectron__selected__inner {
  overflow: hidden;
}
.selectron__listWrapper {
  position: relative;
/* offset top by total .selectron__selected top & bottom border to fix inline text alignment */
  top: -2px;
  width: 100%;
  z-index: 1000;
}
.selectron__listWrapper::before {
  position: absolute;
  display: none;
}
.selectron__list {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
}
.selectron__li {
  display: block;
  list-style: none;
}
.selectron__li__inner {
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
/* IE8 Fixes */
.lt-ie9 .selectron {
  vertical-align: baseline;
}
/***********************************/
/* End Selectron Functional Styles */
/***********************************/
/*************************************/
/* Selectron Theme Styles - go nuts! */
/*************************************/
.selectron {
  cursor: pointer;
  -webkit-touch-callout: none;
  user-select: none;
  height: 40px;
  line-height: 40px;
  color: #333;
  text-decoration: none;
}
.selectron__selected {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  background: #fff;
  padding: 0 10px;
}
.selectron--focused .selectron__selected {
  background: #f9f9f9;
}
.selectron--shown .selectron__selected,
.selectron--hiding .selectron__selected {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}
.selectron__listWrapper:before {
  background: #fff;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  height: 5px;
  top: -5px;
  width: 100%;
}
.selectron--focused .selectron__listWrapper::before {
  background: #f9f9f9;
}
.selectron__list {
  display: none;
  background: #fff;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.selectron__li {
  color: #000;
  border-top: 1px dotted #e7e7e7;
  padding: 0;
}
.selectron__li:first-child {
  border-top: 1px solid #e7e7e7;
}
.selectron__li__inner {
  padding: 10px 10px;
}
.selectron__li:hover .selectron__li__inner {
  background: #f9f9f9;
}
.selectron__li--selected .selectron__li__inner {
  background: #eee;
}
/*****************************/
/* End Selectron Theme Styles */
/*****************************/
/* Selectron CSS Transitions Only, 
 *  using custom "selectransitioner" class */
.selectransitioner.selectron--shown .selectron__list {
  display: block;
}
